<div class="content">
  @foreach (var doc in Model)
  {
    <a class="hero" href="/post/@doc.Title">
      <img src="/post/@Uri.EscapeDataString(doc.Title)/@doc.CoverImage" loading="lazy">
      <div class="hero-text">
        <h4>@doc.Title</h4>
        <h5>@doc.Date?.ToString("dd. MMM yyyy")</h5>
      </div>
      <svg id="favorite-icon-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-fill hidden top-right" viewBox="0 0 16 16">
          <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
      </svg>
    </a>
  }
</div>
