@using Markdig;
<link rel="stylesheet" href="~/css/post.css" />

@{
  ViewData["Title"] = Model.Title;
  ViewData["Url"] = $"{Config.Domain}/post/{Uri.EscapeDataString(Model.Title)}";
  ViewData["Image"] = $"{Config.Domain}/post/{Uri.EscapeDataString(Model.Title)}/{Model.CoverImage}";
}

@if(!string.IsNullOrEmpty(Model.CoverImage)){
<div class="hero">
    <img class="full-screen-width" src=@(Uri.EscapeDataString(Model.Title)+"/"+Model.CoverImage) alt="Banner Image">
    <div class="hero-text">
        <h1>@Model.Title</h1>
    </div>
 </div>
}

<button id="backButton" class="top-left">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</button>

<button id="favoriteButton" class="top-right">
    <svg id="favorite-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
    </svg>
    <svg id="favorite-icon-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill hidden" viewBox="0 0 16 16">
        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
    </svg>
</button>

<div class="content">
    <div class="center date">
        <h2>@Model.Title</h2>
        <p>@Model.Date?.ToString("MMM dd, yyyy")</p>
    </div>
    <button id="shareButton" class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
            <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
    </button>
    <script>
        shareButton.addEventListener("click", onShare);
        async function onShare() {
            const title = document.title;
            const url = document.querySelector("link[rel=canonical]")
                ? document.querySelector("link[rel=canonical]").href
                : document.location.href;
            try {
                await navigator
                .share({
                    title,
                    url
                })
                } catch (err) { }
        }

        favoriteButton.addEventListener("click", () => {
            switchFavorite();
            const favorite = localStorage.getItem(window.location.pathname);
            if (favorite != null) {
                localStorage.removeItem(window.location.pathname);
            } else {
                localStorage.setItem(window.location.pathname, "favorite");
            }
        });

        function switchFavorite() {
            const fav = document.getElementById("favorite-icon");
            const favFill = document.getElementById("favorite-icon-fill");
            fav.classList.toggle('hidden');
            favFill.classList.toggle('hidden');
        }

        function setFavorite() {
            console.log("Onload hit");
            const favorite = localStorage.getItem(window.location.pathname);
            if (favorite != null) {
                switchFavorite();
            }
        }
        setFavorite();
    </script>

    @if (Config.Password != null && !User.Identity.IsAuthenticated)
    {
    <div  class="center" style="margin-bottom:8vh">
        <h1>Members only</h1>
        <p>You have to login to view the content of this page.</p>
        <button class="bnt-black" onclick="location.href='/login?ReturnUrl=/post/@Model.Title'" type="button">Login</button>
    </div>
    return;
    }

    <div>
        @{
        var pipeline = new MarkdownPipelineBuilder().UseYamlFrontMatter().UseAdvancedExtensions().Build();
        var html = Markdown.ToHtml(Model.Markdown, pipeline);
        html = html.Replace("<p><img src=\"", $"<p><img src=\"{Model.Title}/");
        html = html.Replace($"{Model.Title}/https://", "https://");
        html = html.Replace($"{Model.Title}/http://", "http://");
        }
        @Html.Raw(html)
    </div>

    <div class="center">
        <a href="#top">
            <img style="height: 3vw; margin-bottom: 10vh;" src="/icon/arrow_up.svg">
        </a>
    </div>
</div>