@using Markdig;

<link rel="stylesheet" href="https://ghcdn.rawgit.org/Gnkalk/Vanilla-Gallery/main/Css-script/Gallery.css" />

@if(!string.IsNullOrEmpty(Model.PosterPath)){
<div class="hero">
    <img class="full-screen-width" src=@Model.PosterPath alt="Banner Image">
    <div class="hero-text">
        <h1>@Model.Title</h1>
    </div>
 </div>
 <div class="center date">
    <p>@Model.Date?.ToString("D")</p>
 </div>
}
<div>
    @{
     var pipeline = new MarkdownPipelineBuilder().UseYamlFrontMatter().UseAdvancedExtensions().Build();
     @* MarkdownDocument document = Markdown.Parse(Model.Markdown, pipeline);
     var yamlBlock = document.Descendants<YamlFrontMatterBlock>().FirstOrDefault(); *@
    }
    @Html.Raw(Markdown.ToHtml(Model.Markdown, pipeline))
</div>

<script>
    document.querySelectorAll(".gallery").forEach((p) => {
        if(p.childElementCount%2 != 0){
            p.innerHTML += "<p style='flex-grow: 10;'></p>";
        }
    });
</script>