<link rel="stylesheet" href="~/css/home.css" />
@model IEnumerable<MarkdownModel>

@if( Model.Any()){
<div class="banner-grid">
  @foreach (var doc in Model)
  {
    <a class="hero" href="/post/@doc.Date?.Year/@doc.Title">
      <img src="/post/@doc.Date?.Year/@Uri.EscapeDataString(doc.Title)/@doc.CoverImage" loading="lazy">
      <div class="hero-text">
        <h4>@doc.Title</h4>
        <h5>@doc.Date?.ToString("dd. MMM yyyy")</h5>
      </div>
    </a>
  }
</div>
} else {
  <div class="centered-content">
    <div class="center">
      <h3>🌟 New Adventures Awaits! 🌟</h3>
      <p class="transparent-30">No new memories today, but check back tomorrow for more discoveries!</p>
    </div>
  </div>
}