.hero {
  height: 30em;
}

.hero img{
  height: 100%;
  width: 100%;
}

.banner-grid{
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
  .banner-grid {
      grid-template-columns: 1fr; /* Stack columns vertically on small screens */
  }
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
}

.transparent-30{
  color: rgba(0, 0, 0, 0.3);
}