<link rel="stylesheet" href="~/css/home.css" />

@{
  ViewData["Title"] = "Picoblog";
}

<div class="banner-grid">
@foreach (var doc in Model)
{
    <a class="hero" href="/post/@doc.Title">
      <img src="/post/@doc.Title/@doc.Poster">
      <div class="hero-text">
        <h3>@doc.Title</h3>
        <h5>@doc.Date?.ToString("dd. MMM yyyy")</h5>
      </div>
    </a>
}
</div>
