#searchButton{
  background: none;
  border: none;
}

#searchButton svg {
  color: #4f4f4fc7;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 2em;
}

a {
  color: #96c1ff;
  text-decoration: none;
  font-size: smaller;
}

.left {
  display: flex;
  justify-content: end;
}

.content {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 15px 0px 30px 15px;
}

.content a img {
  /* width: 60vw; */
  height: 30vh;
  max-width: fit-content;
}

@media (orientation: portrait) {
  .content a img {
    width: 80vw;
  }
}

@media (orientation: landscape) {
  .content a img {
    width: 25vw;
  }
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.8em;
}