@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

<form asp-action="login" method="post">
    <div class="text-center">
        <div class="form-group col-4" style="margin: 0 auto;">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>