@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.woff2") format("woff");
  src: url("/fonts/Comfortaa-Bold.woff2") format("woff");
  src: url("/fonts/Comfortaa-Light.woff2") format("woff");
  src: url("/fonts/Comfortaa-Medium.woff2") format("woff");
  src: url("/fonts/Comfortaa-SemiBold.woff2") format("woff");
  }

.login-form{
  border: 1px solid #0003;
  border-radius: 5px;
  box-shadow: 0 0 100px 0px #00000021;
}

.v-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.field-validation-error{
  width: 200%;
}

.box{
  box-shadow: 0 0 51px -49px;
  padding: 3rem;
  border-radius: 2%;
  border: 1px solid rgba(221, 221, 221, 0.33);
}

.input-dark{
  width: 200%;
  font-size: 5vh;
  border-radius: 8px;
  padding-left: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.bnt-black{
    background-color: #171717; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
  font-family: Comfortaa, Georgia, Times New Roman, Times, serif !important
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1, h2, h3 {
  text-transform: capitalize;
}

.center, .center > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100%
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}